html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

/* Global Setting */
@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

.navbar {
  z-index: 1999;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.hero .titre {
  font-size: 3rem !important;
    font-weight: 400 !important;
    line-height: 1.5;
}

.hero-business {
  background-image: url('https://oschoolelearning.com/images/divers/corporate.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}



/* menu */
.logo-short,
.user-avatar {
  width: 13%;
}

.logo {
  width: 75%;
}

.user-avatar {
  width: 30px;
}

.navbar .navbar-nav:nth-child(1) {
  width: 70%;
}

i {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.dropdown-toggle::after {
  content: none;
}

.os-hover:hover {
  position: relative;
  top: 15px;
}

.bg-oschool-footer {
  background-color: #f3f9fa;
}

.bg-oschool {
    background-color: #4d90cc;
}

.blue-oschool {
    color: #4d90cc;
}

.bg-box-2 {
  background-color: #ecf8f8;
}

.bg-box-2 span svg{
  color: #4d90cc;
}

.bg-box-2::after {
  content: "";
    position: absolute;
    z-index: 1;
    left: 96%;
    top: 0;
    width: 50px;
    height: 32%;
    -webkit-clip-path: polygon(0 0, 0 100%, 60% 50%);
    clip-path: polygon(0 0, 0 100%, 60% 50%);
    background-color: #ecf8f8;
}
.height-responsive {
  height: calc(100% + 10px);
}

a:hover {
    color: #fff;
}
.text-titre a:hover {
  background-color: #6aabe6!important;
}

.ss-dx {
  background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 206px;
    margin-bottom: 10px;
}
.p-line-heigth {
  line-height: 1.5;
}
.ss-dd {
    margin-left: 0;
    margin-right: 0;
    width: 44px;
    height: 50px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}

.image{
    max-width: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -50px;
    left: -100px;
    width: calc(100% + 100px);
    height: 500px;
}
.price-title {
  font-size: 30px;
  line-height: 75px;
}

.price-list {
  list-style: disc!important;
}
.box-price-1 {
  border-right: 2px solid #5e5e5e3d;
}

.recommended {
  background-color: #c8e3d8;
}

.btn-price:hover {
  background-color: #5e5e5e99;
  border: 2px solid #5e5e5e;
}
@media screen and (max-width: 700px) {
  .text-responsive,
  .hero-business .titre {
    font-size: calc(100% + 1vw + 1vh)!important;
  }

  .col-md-8 .display-4 {
    font-size: calc(100% + 1vw + 1vh)!important;
  }

  .logo {
    display: none;
  }

  .bg-sm-white {
    background-color: #fff;
  }

  .box-slide {
    position: initial !important;
    max-width: 100%;
  }
  .bg-box-2::after {
    display: none;
  }

  .hero-business {
      height: 650px;
      width: 100%;
  }
  .titre {
    line-height: 2;
  }
  .border-hr {
    border: 2px solid #4d90cc;
  }
  .box-price-1 {
    border-right: none;
    background-color: #fff;
  }
  .box-price-2 {
    background-color: #f3f9fa;
    border: 2px solid rgb(0 123 255 / 25%);
  }
  .box-price-21 {
    background-color: #c8e3d8;
    border: 2px solid rgb(0 123 255 / 25%);
  }

  .text {
    width: 100%!important;
    padding: 15px 0;
  }
}

@media screen and (min-width: 600px) {
  .logo-short {
    display: none;
  }
}
