/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

/* Global Setting */
@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

.navbar {
  z-index: 1999;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.hero {
  background-image: linear-gradient( 180deg,hsla(0,0%,100%,0),var(--white)),url(https://www.hotmart.com/images/gallaxy.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
}
.hero .titre {
  font-size: 3rem !important;
    font-weight: 400 !important;
    line-height: 1.5;
}

.img-head img {
  position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blue-oschool {
  color: #4d90cc;
}

.bg-oschool {
  background-color: #4d90cc;
}

/* menu */
.logo-short,
.user-avatar {
  width: 13%;
}

.logo {
  width: 75%;
}

.user-avatar {
  width: 30px;
}

.navbar .navbar-nav:nth-child(1) {
  width: 70%;
}

i {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.dropdown-toggle::after {
  content: none;
}

.os-hover:hover {
  position: relative;
  top: 15px;
}

.bg-oschool-footer {
  background-color: #f3f9fa;
}

.box-slide {
  top: 6.4rem;
  left: 4.8rem;
  max-width: 35rem;
}

.course-border {
  border-radius: 30px;
}

.bg-img-course img {
  border-radius: 20px;
  height: 170px;
}

.bg-box-2 {
  background-color: #ecf8f8;
}

.bg-box-2 span svg{
  color: #4d90cc;
}

.bg-box-2::after {
  content: "";
    position: absolute;
    z-index: 1;
    left: 96%;
    top: 0;
    width: 50px;
    height: 32%;
    -webkit-clip-path: polygon(0 0, 0 100%, 60% 50%);
    clip-path: polygon(0 0, 0 100%, 60% 50%);
    background-color: #ecf8f8;
}
.height-responsive {
  height: calc(100% + 10px);
}

/* media queries */
@media screen and (max-width: 700px) {
  .text-responsive,
  .hero .titre {
    font-size: calc(100% + 1vw + 1vh)!important;
  }

  .col-md-8 .display-4 {
    font-size: calc(100% + 1vw + 1vh)!important;
  }

  .logo {
    display: none;
  }

  .bg-sm-white {
    background-color: #fff;
  }

  iframe {
    width: 100% !important;
    height: 315px !important;
    box-shadow: -4px 11px 26px -4px rgba(0, 0, 0, 0.75);
  }

  .box-slide {
    position: initial !important;
    max-width: 100%;
  }
  .videoResize .w-75 {
    width: 100%!important;
  }

  .bg-box-2::after {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .logo-short {
    display: none;
  }
}
