/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

/* Global Setting */

@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo, .logo-short, .user-avatar {
  width: 13%;
}

.user-avatar {
  width: 30px;
}

.navbar .navbar-nav:nth-child(1){
  width: 70%;
}

i {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

@media screen and (max-width: 599px){
  .logo {
    display: none;
  }
}

@media screen and (min-width: 600px){
  .logo-short {
    display: none;
  }
}
